{% extends 'base.html.twig' %}

{% block title %}Pokemon exchanges in progress{% endblock %}

{% block body %}
    <h3 class="text-secondary my-3">Pokemon exchanges in progress</h3>

    {% for ex in pokemonExchanges %}
        <div class="my-3 card border border-info">
            <div class="card-body">
                <table class="table table-light">
                    <thead class="table-info">
                        </tr>
                            <th>Status</th>
                            <td class="text-center align-middle table-secondary font-weight-bold">{{ex.status}}</td>
                        </tr>
                        <tr>
                            <th>
                                {%- if ex.updatedAt is not null -%}
                                    Updated
                                {%- else -%}
                                    Created
                                {%- endif -%}
                            </th>
                            <td class="text-center table-secondary">
                                {%- if ex.updatedAt is not null -%}
                                    {{ ex.updatedAt|date('Y/m/d \\a\\t H:i') }}
                                {%- else -%}
                                    {{ ex.createdAt|date('Y/m/d \\a\\t H:i:s') }}
                                {%- endif -%}
                            </td>
                        <tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Offerer</th>
                            <td class="text-center">{{ ex.trainer1.username }}</td>
                        </tr>
                        <tr>
                            <th>Proposed</th>
                            <td class="text-center font-weight-bold text-primary">{{ ex.pokemon1.name }} (level: {{ ex.pokemon1.level }})</td>
                        </tr>
                            <th>Response</th>
                            <td colspan="2" class="text-center font-weight-bold">
                                {% if ex.answer1 is not same as('None') %}{{ ex.answer1 }}{% endif %}
                            </td>

                        <tr>
                            <th>Recipient</th>
                            <td class="text-center">{{ ex.trainer2.username }}</td>
                        </tr>
                        <tr>
                            <th>Requested</th>
                            <td class="text-center font-weight-bold text-primary">{{ ex.pokemon2.name }} (level: {{ ex.pokemon2.level }})</td>
                        </tr>
                        <tr>
                            <th>Response</th>
                            <td colspan="2" class="text-center font-weight-bold">
                                {% if ex.answer2 is not same as('None') %}{{ ex.answer2 }}{% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row justify-content-center">
                    <a href="{{ path('pokemon_exchange_edit', {id: ex.id}) }}"><button class="mr-5 btn btn-warning">Modify</button></a>
                    {% if app.user is same as(ex.trainer1) %}
                        {% if ex.answer1 is same as('Accepted') %}
                            <a href="{{ path('pokemon_exchange_delete', {id: ex.id, csrfToken: csrf_token(csrfToken)}) }}"><button class="btn btn-danger">Withdraw</button></a>
                        {% elseif ex.answer1 is same as('None') %}
                            <a href="{{ path('pokemon_exchange_accept', {id: ex.id, csrfToken: csrf_token(csrfToken)}) }}"><button class="ml-5 btn btn-success">Accept</button></a>
                            <a href="{{ path('pokemon_exchange_delete', {id: ex.id, csrfToken: csrf_token(csrfToken)}) }}"><button class="btn btn-danger">Refuse</button></a>
                        {% endif %}
                    {% elseif app.user is same as(ex.trainer2) %}
                        {% if ex.answer2 is same as('Accepted') %}
                            <a href="{{ path('pokemon_exchange_delete', {id: ex.id, csrfToken: csrf_token(csrfToken)}) }}"><button class="btn btn-danger">Withdraw</button></a>
                        {% elseif ex.answer2 is same as('None') %}
                            <a href="{{ path('pokemon_exchange_accept', {id: ex.id, csrfToken: csrf_token(csrfToken)}) }}"><button class="ml-5 btn btn-success">Accept</button></a>
                            <a href="{{ path('pokemon_exchange_delete', {id: ex.id, csrfToken: csrf_token(csrfToken)}) }}"><button class="btn btn-danger">Refuse</button></a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
