{% extends 'base.html.twig' %}

{% block title %}Exchange pokemon{% endblock %}
{% form_theme pokemonExchangeForm 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <h3 class="text-secondary my-3">Exchange pokemon</h3>

    {{ form_start(pokemonExchangeForm) }}
    {{ form_row(pokemonExchangeForm.trainer1Show) }}
    {{ form_row(pokemonExchangeForm.pokemon1) }}
    <div class="my-5"></div>
    {{ form_row(pokemonExchangeForm.trainer2Show) }}
    {{ form_row(pokemonExchangeForm.pokemon2) }}
    <div class="my-5">
        {{ form_row(pokemonExchangeForm.submit) }}
    </div>
    {{ form_end(pokemonExchangeForm) }}
    <input id="g-recaptcha" data-action="exchange_edit" name="g-recaptcha-response" hidden value=""></input>
{% endblock %}
