{% extends 'base.html.twig' %}
{% import "trainer/_showBadge.html.twig" as showBadge %}

{% block title %}Profile{% endblock %}

{% block body %}
  <h1 class="my-3 text-secondary">Profile: {{ user.username }}</h1>
  {{ showBadge.showBadge(user.championCount) }}
  <table class="table">
    <thead>
      <tr class="table-primary">
        <th scope="col">Infos</th>
        <th scope="col">Count</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Pokedollars</th>
        <td>{{ user.pokedollar }}</td>
      </tr>
      <tr>
        <th scope="row">Trophies</th>
        <td>{{ user.championCount }}</td>
      </tr>
      <tr>
        <th scope="row">Pokemons</th>
        <td>{{ user.pokemons|length }}</td>
      </tr>
      <tr>
        <th scope="row">Pokeballs</th>
        <td>{{ user.pokeball }}</td>
      </tr>
      <tr>
        <th scope="row">Healing potions</th>
        <td>{{ user.healingPotion }}</td>
      </tr>
    </tbody>
  </table>
  <div>
    <a href="{{ path('trainer_pokemons', {id: user.id}) }}">List of your pokemons</a>
  </div>
{% endblock %}
