{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
  <h1 class="text-secondary">Profile: {{ user.username }}</h1>

  <table class="mt-5 table">
    <thead>
      <tr class="table-primary">
        <th scope="col">Infos</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Pokedollars</th>
        <td>{{ user.pokedollar }}</td>
      </tr>
      <tr>
        <th scope="row">Champion count</th>
        <td>{{ user.championCount }}</td>
      </tr>
      <tr>
        <th scope="row">Pokemons count</th>
        <td>{{ user.pokemons|length }}</td>
      </tr>
      <tr>
        <th scope="row">Pokeballs count</th>
        <td>{{ user.pokeball }}</td>
      </tr>
      <tr>
        <th scope="row">Health potions count</th>
        <td>{{ user.healthPotion }}</td>
      </tr>
    </tbody>
  </table>
  <p>
    <a href="{{ path('trainer_pokemons', {id: user.id}) }}">List of your pokemons</a>
  </p>
{% endblock %}
