{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    <div>
        <h3 class="my-3">{{title}} sent by users:</h3>
        {% if app.request.get('_route') == 'admin_messages_new' %}
            <p><a href="{{ path('admin_messages_archived') }}">Archived messages</a></p>
        {% else %}
            <p><a href="{{ path('admin_messages_new') }}">New messages</a></p>
        {% endif %}
        <hr>
        {% for message in messages %}
            <div class="card mb-3" style="">
                <div class="card-header">
                    <div class="row">
                        <div class="col-12 col-md-6 mb-2">
                            From <strong>{{message.authorName}}</strong> ({{message.authorEmail}}), the {{message.createdAt|date('Y/m/d \\a\\t H:i:s')}}
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="row">
                                {% if app.request.get('_route') == 'admin_messages_new' %}
                                    <form class="col-auto" method="POST" action="{{ path('admin_messages_archive', {id: message.id}) }}">
                                        <input type="hidden" name="token" value="{{ csrf_token(csrfToken) }}"/>
                                        <button type="submit" class="btn btn-sm btn-secondary">Archive</button>
                                    </form>
                                {% endif %}
                                <form class="col-auto" method="POST" action="{{ path('admin_messages_delete', {id: message.id}) }}">
                                    <input type="hidden" name="token" value="{{ csrf_token(csrfToken) }}"/>
                                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{message.object}}</h5>
                    <p class="card-text">{{message.content|nl2br}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
