{% extends 'base.html.twig' %}

{% block title %}Inactivated users{% endblock %}

{% block body %}
    <div>
        <h3 class="my-3">Inactivated users</h3>
        <hr/>
        <div>
            <table class="table" style="display: block;
                                          overflow-x: auto;
                                          white-space: nowrap;">
                <thead class="thead-dark">
                    <tr>
                        <th>User</th>
                        <th>Email</th>
                        <th>Created</th>
                        <th>Option</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <th>{{ user.username }}</th>
                            <td>{{ user.email }}</td>
                            <td>{{ user.createdAt|date('Y/m/d \\a\\t H:i:s') }}</td>
                            <td>
                                <form method="POST" action="{{ path('admin_user_inactivated_delete', {id: user.id}) }}">
                                    <input type="hidden" name="token" value="{{ csrf_token(csrfToken) }}"/>
                                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div>
                <p><a href="{{ path('admin_users_not_activated_delete') }}">Delete accounts created at least one month ago</a></p>
            </div>
        </div>
    </div>
{% endblock %}