{% extends 'base.html.twig' %}

{% block title %}Tournament{% endblock %}

{% block body %}
    <div id="r-battle" class="row justify-content-center"></div>
    <div>
        <span hidden id="csrfToken">{{ csrf_token(csrfToken) }}</span>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('tournament_battle') }}
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    {{ encore_entry_script_tags('tournament_battle') }}
{% endblock javascripts %}