{% extends 'base.html.twig' %}

{% block title %}Tournament{% endblock %}

{% block body %}
    <div class="row justify-content-center" {{ stimulus_controller('tournament-battle') }}></div>
    <div>
        <span hidden id="csrfToken">{{ csrf_token(csrfToken) }}</span>
    </div>
    <input id="g-recaptcha" data-action="tournament_battle" name="g-recaptcha-response" hidden value=""></input>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('tournament_battle') }}
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
    {{ encore_entry_script_tags('tournament_battle') }}
{% endblock javascripts %}