{% extends 'base.html.twig' %}

{% block title %}Tournament{% endblock %}

{% block body %}
    <div class="row p-3 justify-content-center">
        <div class="col-md-10 col-lg-8">
            <div class="col-12">
                <img class="img-fluid" src="{{ asset('images/tournament-index.jpeg') }}" />
            </div>
            {% if isAllowed is same as(true) %}
                <div class="row my-3 justify-content-center">
                    <a href="{{ path('tournament_battle') }}"><button class="btn btn-primary">{{ buttonMessage }}</button></a>
                </div>
            {% else %}
                <div class="rounded text-center py-3 my-3 border border-warning text-warning bg-light font-weight-bold">
                    You don't have 3 pokemons with full HP.
                </div>
            {% endif %}
            <hr/>
            <div class="mx-auto">
                <h1 class="my-3">Welcome to the tournament!</h1>        

                <p style="color: red"><strong>Earn prize money at each fight!</strong></p>
                <p>You need at least 3 pokemons (full HP) to participate at the tournament. This is a battle between 2 trainers with <span class="text-success font-weight-bold">3 pokemons</span> each.<br><br>
                    You're also allowed to use <span class="text-success font-weight-bold">3 healing potions</span> maximum during a battle. So don't forget to bring some with you!
                </p>
                <p>Overcome 3 battles in a row to <span class="text-warning font-weight-bold">win the tournament</span>!</p>
                <p>Note: thanks to warming up, pokemons can sometimes inflict a little more damage than usual.</p>
            </div>
            {% if isAllowed is same as(true) %}
                <div class="row my-3 justify-content-center">
                    <a href="{{ path('tournament_battle') }}"><button class="btn btn-primary">{{ buttonMessage }}</button></a>
                </div>
            {% else %}
                <div class="rounded text-center py-3 my-3 border border-warning text-warning bg-light font-weight-bold">
                    You don't have 3 pokemons with full HP.
                </div>
            {% endif %}
        </div>
    </div>
    <input id="g-recaptcha" data-action="tournament_index" name="g-recaptcha-response" hidden value=""></input>
{% endblock %}
