{% extends 'base.html.twig' %}

{% block title %}The city{% endblock %}

{% form_theme shopForm 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <h1 class="my-3 text-info">Welcome to the city!</h1>
    <h4 class="text-secondary">Visit the services that you might need.</h4>
    <div class="card border border-primary w-100 my-3">
        <div class="card-header text-white bg-primary">
            <h5>Shop</h5>
            <p class="text-right">Your wallet: <span id="wallet" style="color:yellow">{{ app.user.pokedollar }}</span> $</p>
        </div>
        <div class="card-body">
            <h6 class="card-subtitle mt-3 mb-2 text-muted">Enter the number of items</h6>
            {{ form_start(shopForm, {attr: {class: 'col-sm-10 col-md-8 col-lg-6 col-xl-5'}}) }}
                <div class="form-inline">
                    <span class="">{{ form_label(shopForm.pokeball) }}</span>
                    <span class="ml-auto">{{ form_widget(shopForm.pokeball) }}</span>
                </div>
                <br />
                <div class="form-inline">
                    <span class="">{{ form_label(shopForm.healingPotion) }}</span>
                    <span class="ml-auto">{{ form_widget(shopForm.healingPotion) }}</span>
                </div>
                <div class="my-3 font-weight-bold">
                    <div id="purchase-total-block" class="text-warning">Total: <span id="purchase-total">0</span> $</div>
                </div>
                <div>
                    {{ form_widget(shopForm.submit, {attr: {class: 'w-100 btn btn-primary'} }) }}
                </div>
            {{ form_end(shopForm) }}
        </div>
    </div>
    <div class="card border border-success w-100">
        <div class="card-header text-white bg-success">
            <h5>Infirmary</h5>
        </div>
        <div class="card-body">
            {{ form_start(infirmaryForm) }}
            <div class="form-inline mb-5">
                <h5 class="mr-3">Restore your pokemons</h5>
                {{ form_widget(infirmaryForm.restorePokemon) }}
            </div>
            <h5 class="">Donate a pokemon</h5>
            <p class="text-danger">Be careful, you won't never see your pokemon again.</p>
            <div class="form-inline">
                {{ form_widget(infirmaryForm.selectPokemon) }}
                {{ form_widget(infirmaryForm.donatePokemon) }}
            </div>
            {{ form_end(infirmaryForm) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('city') }}
{% endblock %}