<!DOCTYPE html>
<html>
    <head>
        <meta name="robots" content="noindex, nofollow">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}" />
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-success text-white">
                <a class="navbar-brand p-0 mr-5" href="{{ path('app_index') }}"><img class="img-fluid" src="{{ asset('images/pokemon-logo.png') }}"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                    <li class="nav-item{% if app.request.get('_route') == 'app_index' %} active{% endif %}">
                        <a class="btn btn-success nav-link" href="{{ path('app_index') }}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item{% if app.request.get('_route') == 'adventure' %} active{% endif %}">
                            <a class="btn btn-warning nav-link" href="{{ path('adventure') }}">Adventure</a>
                        </li>
                        <li class="nav-item{% if app.request.get('_route') == 'tournament' %} active{% endif %}">
                            <a class="btn btn-warning nav-link" href="{{ path('tournament') }}">Tournament</a>
                        </li>
                        <li class="nav-item{% if app.request.get('_route') == 'city' %} active{% endif %}">
                            <a class="btn btn-info nav-link" href="{{ path('city') }}">City</a>
                        </li>
                        <li class="nav-item{% if app.request.get('_route') == 'trainer_profile' %} active{% endif %}">
                            <a class="btn btn-primary nav-link" href="{{ path('trainer_profile') }}">Profile</a>
                        </li>
                        <li class="nav-item{% if app.request.get('_route') == 'trainer_pokemons' %} active{% endif %}">
                            <a class="btn btn-primary nav-link" href="{{ path('trainer_pokemons', {id: app.user.id}) }}">Pokemons</a>
                        </li>
                        <li class="nav-item{% if app.request.get('_route') == 'trainer_list' %} active{% endif %}">
                            <a class="btn btn-success nav-link" href="{{ path('trainer_list') }}">Trainers</a>
                        </li>
                        <li class="nav-item{% if app.request.get('_route') == 'pokemon_exchange_list' %} active{% endif %}">
                            <a id="js-exchange" class="btn btn-success nav-link" href="{{ path('pokemon_exchange_list') }}">Exchange</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item dropdown">
                                <a class="btn btn-danger nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Admin
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="{{ path('admin_messages_new') }}">Messages</a>
                                    <a class="dropdown-item" href="{{ path('admin_users_activated') }}">Users</a>
                                    <a class="dropdown-item" href="{{ path('admin_users_not_activated') }}">Inactivated</a>
                                </div>
                            </li>
                        {% endif %}
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="btn btn-dark nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if is_granted('ROLE_USER') %}{{app.user.username}}{% else %}Account{% endif %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% if is_granted('ROLE_USER') %}
                            <a class="dropdown-item" href="{{ path('app_account') }}">Account</a>
                            <a class="dropdown-item" href="{{ path('app_contact') }}">Contact</a>
                            <a class="dropdown-item" href="{{ path('app_logout') }}">Log out</a>
                        {% else %}
                            <a class="dropdown-item" href="{{ path('app_login') }}">Log in</a>
                            <a class="dropdown-item" href="{{ path('app_register') }}">Register</a>
                        {% endif %}
                        </div>
                    </li>
                    </ul>
                </div>
            </nav>
        </header>
        
        <div>
            {% if app.request.hasPreviousSession %}
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="container rounded w-100 text-center py-3 my-3 border border-{{ label }} text-{{ label }} bg-light font-weight-bold">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>

        <div style="min-height: 81vh" class="container my-3">
            {% block body %}{% endblock %}
        </div>

        <footer>
            <nav class="navbar navbar-light bg-light">
                <span class="navbar-text w-100 text-center">
                    This site is protected by reCAPTCHA and the Google
                    <a href="https://policies.google.com/privacy">Privacy Policy</a> and
                    <a href="https://policies.google.com/terms">Terms of Service</a> apply.
                </span>
                
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('app_privacy_policy') }}">Privacy policy</a>
                    </li>
                </ul>

                <span class="navbar-text">
                    © {{ company_name }} - 2019
                </span>
            </nav>
        </footer>

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            <script src="https://www.google.com/recaptcha/api.js?render=6LfTR8QUAAAAAFmPyAzUrR_26zg-aJjUNo4_dgQq"></script>
            {{ encore_entry_script_tags('reCaptcha') }}
            {% if is_granted('ROLE_USER') %}
                {{ encore_entry_script_tags('app') }}
            {% endif %}
        {% endblock %}
    </body>
</html>
